HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Database options
# Use this for local development with SQLite:
# DATABASE_CLIENT=sqlite
# DATABASE_FILENAME=.tmp/data.db

# Use this for Railway / production with Postgres:
# DATABASE_CLIENT=postgres
# DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@postgres.railway.internal:5432/railway
